@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --red: #e3242b;
  --blue: #000080;
  --grey: #eff8ff;
}

ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.margin {
  width: 98%;
  margin: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey);
}
.nav-s2 {
  display: flex;
  justify-content: space-between;
  gap: 3px;
}
.rect {
  color: white;
  background-color: var(--red);
  width: 150px;
  padding-left: 10px;
}
.nav-s1 {
  gap: 0.5rem;
  width: 50rem;
}
@media screen and (max-width: 425px) {
  .nav-s1 {
    display: none;
  }
}

.nav-s1 a {
  color: gray;
}
.poly {
  clip-path: polygon(25% 0%, 100% 0, 100% 100%, 20% 100%, 0 0);
  width: 250px;
  height: 20px;
  background-color: var(--red);
  display: flex;
  color: white;
}

.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.nav2-sec1 {
  color: var(--red);
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.nav2-sec2 {
  display: flex;
  justify-content: space-around;
  width: 40rem;
  height: 20px;
}
@media screen and (max-width: 425px) {
  .nav2-sec2 {
    display: none;
  }

  .nav2-sec1 {
    color: var(--red);
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-left: 110px;
  }
}
.nav2-sec2 a {
  color: black;
  transition: all 5ms;
}

.nav2-sec2 a:hover {
  color: var(--red);
}

.nav2 .fa-regular {
  padding: 0;
  font-size: 2rem;
  color: var(--red);
  background-color: white;
}

/* NAV BAR END HERE */

.hero {
  background-image: url(img/carousel-2.jpg);
  width: 100%;
  background-size: cover;
  height: 800px;
  text-align: center;
  text-transform: capitalize;
}

.hero p {
  padding-top: 20rem;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.hero h1 {
  padding: 2rem;
  color: white;
  font-size: 2.3rem;
  line-height: 4rem;
}
.button_1 {
  background-color: var(--red);
  border-radius: 20px;
  padding: 15px;
  width: 8rem;
  color: white;
  border: none;
}
.button_2 {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  width: 8rem;
  color: black;
  border: none;
}
@media screen and (max-width: 768px) {
  .hero {
    background-image: url(img/carousel-2.jpg);
    width: 100%;
    background-size: cover;
    height: 450px;
    text-align: center;
    text-transform: capitalize;
  }

  .hero p {
    padding-top: 7rem;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .hero h1 {
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .button_1 {
    width: 7rem;
  }
  .button_2 {
    width: 7rem;
  }
}

@media screen and (max-width: 425px) {
  .hero {
    background-image: url(img/carousel-2.jpg);
    width: 100%;
    background-size: cover;
    height: 200px;
    text-align: center;
    text-transform: capitalize;
  }

  .hero p {
    padding-top: 3rem;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .hero h1 {
    padding: 1rem;
    color: white;
    font-size: 1rem;
    line-height: 1.5em;
  }
  .button_1 {
    width: 5rem;
    font-size: 0.5rem;
  }
  .button_2 {
    width: 5rem;
    font-size: 0.5rem;
  }
}

/* HERO SECTION END HERE */

.second {
  display: flex;
}

.left {
  background-color: var(--grey);
  width: 50%;
  padding: 30px;
}
.left h3 {
  font-size: 1.7rem;
  padding-bottom: 10px;
}
#red {
  color: var(--red);
  font-size: 1.1rem;
  padding-bottom: 10px;
}
#grey {
  color: gray;
  font-size: 0.9rem;
  padding-bottom: 20px;
}

.left button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: var(--red);
  width: 150px;
}
.left span {
  color: var(--red);
}
.right {
  background-color: var(--red);
  padding: 10px;

  /* text-align: left; */
}

@media screen and (max-width: 768px) {
  .right {
    width: 50%;
  }
}

.second-icon {
  padding: 25px;
}

.right .fa-solid {
  text-align: left;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--red);
}

@media screen and (max-width: 425px) {
  .left h3 {
    font-size: 1rem;
    padding-bottom: 10px;
  }
  #red {
    color: var(--red);
    font-size: 0.8rem;
    padding-bottom: 10px;
  }
  #grey {
    color: gray;
    font-size: 0.7rem;
    padding-bottom: 20px;
  }

  .left button {
    padding: 10px;
    width: 100px;
    font-size: 0.7rem;
  }

  .right h3,
  p {
    font-size: 0.7rem;
  }
  .second-icon {
    padding: 15px;
  }

  .right .fa-solid {
    text-align: left;
    padding: 10px;
    font-size: 1rem;
  }
}

/* SECOND END HERE */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  gap: 2rem;
  text-align: center;
  padding-top: 20px;
  margin-left: 5rem;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (max-width: 425px) {
  .grid {
    grid-template-columns: repeat(1, 300px);
  }
}
/* .grid{
    display:flex;
    justify-content: space-around; 
} */
.third h3 {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
}
hr {
  position: absolute;
  width: 10%;
  left: 50%;
  translate: -50%;
  color: hsla(0, 0%, 0%, 0.1);
}

.back {
  padding: 30px;
  background-color: var(--grey);
}

.grid p {
  font-size: 0.9rem;
  text-align: center;
  color: rgb(128, 134, 139);
}
.grid .fa-solid {
  /* text-align: center; */
  background-color: var(--red);
  font-size: 3rem;
  color: white;
  border-radius: 50%;
  padding: 15px;
}
h5 {
  font-size: 1.3rem;
  padding: 10px;
}

/* THIRD END HERE */

.fourth {
  text-align: center;
  padding-top: 20px;
}
.fourth h3 {
  font-size: 1.5rem;
  padding: 20px;
}
.fourth .fa-solid,
.fa-regular {
  background-color: var(--red);
  color: white;
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 50%;
  margin: 10px;
}
.f-left,
.f-right {
  padding: 15px;
  text-align: left;
  margin: 10px;
}
.fourth .grey {
  color: gray;
}
.f-middle {
  background-color: var(--red);
  text-align: center;
  color: white;
  width: 500px;
}

.f-middle p {
  font-size: 1.4em;
  padding: 50px;
}
.f-middle button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 150px;
  margin: 30px;
  background-color: white;
}
#f-para {
  font-size: 1rem;
}

@media screen and (max-width: 425px) {
  .fourth {
    flex-direction: column;
  }
  .fourth .fa-solid,
  .fa-regular {
    background-color: var(--red);
    color: white;
    padding: 20px;
    font-size: 1rem;
    border-radius: 50%;
    margin: 8px;
  }
  .f-left,
  .f-right {
    padding: 8px;
    text-align: left;
    margin: 7px;
  }
  .fourth h5 {
    font-size: 0.8rem;
  }
  .fourth .grey {
    color: gray;
    font-size: 0.7rem;
  }
  .f-middle {
    background-color: var(--red);
    text-align: center;
    color: white;
    width: 200px;
  }
  .f-middle img {
    width: 200px;
  }

  .f-middle p {
    font-size: 0.7rem;
    padding: 20px;
  }
  .f-middle button {
    padding: 8px;
    border-radius: 20px;
    border: none;
    width: 100px;
    margin: 20px;
    background-color: white;
  }
  #f-para {
    font-size: 0.7rem;
  }
}
/* FOURTH END HERE */

.fifth {
  padding-top: 30px;
}
.fifth-left {
  padding: 20px;
  background-color: var(--grey);
  width: 50%;
  height: 400px;
}
.fifth h3 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}
.fifth-left p {
  color: gray;
  padding-bottom: 20px;
}
.fifth-right {
  height: 400px;
  width: 50%;
}

.fifth-right img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
}

#name,
#email {
  padding: 10px;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  #name,
  #email {
    padding: 5px;
    margin: 2px;
  }
}
@media screen and (max-width: 425px) {
  #name,
  #email {
    margin: 2px;
  }

  /* .fifth-left{
        padding: 20px;
        background-color: var(--grey);
        width: 50%;
        height: 400px;
    } */

  .fifth-right img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
  }

  .fifth h3 {
    font-size: 1rem;
    padding-bottom: 20px;
  }
  .fifth-left p {
    color: gray;
    padding-bottom: 20px;
    font-size: 0.8rem;
  }
}

/* form{
    padding:10px;
    margin: 20px;
} */

#select,
#submit {
  padding: 10px;
  margin: 20px;
  width: 210px;
}
@media screen and (max-width: 768px) {
  #select,
  #submit {
    padding: 5px;
    margin: 5px;
    width: 150px;
  }
}
@media screen and (max-width: 425px) {
  #select,
  #submit {
    padding: 5px;
    margin: 5px;
    width: 150px;
  }

  .fifth-right img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
    width: 100%;
  }
}
#submit {
  background-color: var(--red);
  margin-left: 30px;
  /* width: 200px; */
  /* padding: 20px; */
  color: white;
  border-radius: 5px;
  border: none;
}

/* FIFTH END HERE */

.six {
  justify-content: space-around;
  padding: 30px;
  gap: 1rem;
}
.six-left {
  background-image: url(img/team-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 500px;
}
.six-middle {
  background-image: url(img/team-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 500px;
}
.six-right {
  background-image: url(img/team-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 500px;
}

@media screen and (max-width: 425px) {
  .six-left,
  .six-middle,
  .six-right {
    height: 250px;
    
  }

  .six{
    padding-top: 70px;
  }
}

/* SIX END HERE */

.seven {
  padding-top: 30px;
}
.seven-left {
  background-image: url(img/testimonial.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.seven-right {
  padding: 40px;
  background-color: var(--grey);
  height: 400px;
}
.seven-right h3 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}
.seven-right .fa-solid {
  color: var(--red);
  font-size: 2rem;
}
.right-bottom img {
  padding: 10px;
  border-radius: 50%;
}
#cli-name {
  font-size: 1.3rem;
  margin: 5px;
  padding-top: 5px;
}
#prof {
  font-size: 0.8rem;
  margin: 5px;
  color: gray;
}

.right-bottom .fa-solid {
  background: var(--red);
  color: white;
  border-radius: 50%;
  margin: 5px;
  padding: 5px;
}

@media screen and (max-width: 425px) {
  .seven-left {
    background-image: url(img/testimonial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
  }

  .seven-right {
    padding: 40px;
    background-color: var(--grey);
    height: 350px;
    width: 50%;
  }
  .seven-right p {
    font-size: 0.7rem;
  }
  .seven-right h3 {
    font-size: 1rem;
    padding-bottom: 20px;
  }
  .seven-right .fa-solid {
    color: var(--red);
    font-size: 1rem;
  }
  .right-bottom img {
    padding: 5px;
    border-radius: 50%;
    width: 60px;
  }
  #cli-name {
    font-size: 0.8rem;
    margin: 5px;
    padding-top: 5px;
  }
  #prof {
    font-size: 0.6rem;
    margin: 5px;
    color: gray;
  }

  .right-bottom .fa-solid {
    background: var(--red);
    color: white;
    border-radius: 50%;
    margin: 5px;
    padding: 5px;
  }
}

/* SEVEN END HERE */

.eight h3 {
  font-size: 1.5rem;
  padding: 30px;
  text-align: center;
}

.eight-content {
  justify-content: space-around;
}

.eight-red {
  background-color: var(--red);
  padding: 20px;
  font-size: 0.9rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .eight-red {
    padding: 10px;
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 425px) {
  .eight-red {
    padding: 10px;
    font-size: 0.5rem;
  }
}

.eight-grey {
  flex-direction: column;
}

.eight-grey-bottom p {
  /* font-size: .9rem; */
  margin-left: 10px;
  text-align: center;
}

.eight-grey-top {
  color: gray;
  text-align: center;
  margin: 10px;
  padding: 5px;
  justify-content: space-around;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .eight-grey-top {
    margin: 5px;
    padding: 5px;
    justify-content: space-around;
    gap: 1.5rem;
  }

  .eight-grey {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 425px) {
  .eight-grey-top {
    margin: 3px;
    padding: 3px;
    justify-content: space-around;
    gap: 0.5rem;
  }

  .eight-grey {
    font-size: 0.5rem;
  }
}
.eight-left-img {
  background-image: url(img/blog-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}
.eight-middle-img {
  background-image: url(img/blog-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}
.eight-right-img {
  background-image: url(img/blog-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

@media screen and (max-width: 425px) {
  .eight-left-img {
    background-image: url(img/blog-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 100px;
    
  }
  .eight-middle-img {
    background-image: url(img/blog-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 100px;
  }
  .eight-right-img {
    background-image: url(img/blog-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 100px;
  }
}
.white {
  color: white;
}

/* EIGHT END HERE */

.nine {
  text-align: center;
  background-color: var(--red);
  height: 200px;
  padding: 50px;
  margin-top: 50px;
}
.nine h3 {
  font-size: 1.5rem;
  padding-bottom: 30px;
}

#form-email {
  padding: 10px;
  width: 300px;
}
#form-button {
  padding: 10px;
  border: none;
  background-color: #000080;
  color: white;
}

/* NINE END HERE */

.footer {
  background-color: var(--blue);
  color: white;
  justify-content: space-between;
  /* gap: 10rem; */
  padding: 20px;
}
.footer h4 {
  padding-bottom: 10px;
  font-size: 1.3rem;
}
.footer li {
  padding: 5px;
}
#footer-arrow {
  color: #e3242b;
}

#icon-red {
  color: #e3242b;
}
#brand-icon {
  padding: 10px;
  color: white;
  background-color: var(--red);
  border-radius: 50%;
}

.footer-hr {
  width: 100%;
  color: white;
}

.fotter2 {
  background-color: var(--blue);
  color: white;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 10px;
  }
  .footer h4 {
    padding-bottom: 10px;
    font-size: 0.8rem;
  }
  .footer li {
    padding: 2px;
    font-size: 0.7rem;
  }
  #brand-icon {
    padding: 5px;
  }

  .fotter2 {
    font-size: 0.7rem;
    padding: 10px;
  }
}
