*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li{
    list-style: none;
}
/* nav start here  */
/* nav-sec start here */
.nav-ul1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 18px;
    justify-content: flex-start;



}
.nav-sec{
    height: 18px;
    background-color: rgb(241, 240, 240);

}
#nav-li{
    text-align: left;
    width: 50px;
    border: none;
    
}
#nav-a4{
    margin-left: 10px;
}
.nav-ul1 li{
    border-right: 1px solid black;
    background-color: rgb(241, 240, 240);
    width: 45px;
    text-align: center;
}

.nav-ul1 li a{
    color: rgb(124, 124, 124);
    font-size: 12px;
}
.nav-logo1{
    display: flex;
    background-image: url(nav-1.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-evenly;
    align-items: center;
    height: 18px;
    width: 140px;
    border-right: 1px solid rgb(241, 240, 240);
    
}

.nav-logo2{
    display: flex;
    background-image: url(nav-2.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 100px;
}
.fa-envelope{
    margin-left: 15px;
    font-size: 14px;
    color: white;
    
}
.fa-phone{
    font-size: 13px;
    color: white;
}
.nav-p1{
    font-size: 10px;
    
    color: white;
}

.nav-p2{
    color: white;
    margin-left: 5px;
    font-size: 10px;
}

/* nav-sec end here */

/* nav-s3 start here */

.nav-s3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin-top: 20px;
   
}
.s3-1{
    display: flex;
    align-items: center;
    
    
}
.fa-bars{
    color: black;
    font-size: 27px;
    margin-left: 10px
    
}
.fa-face-smile{
    color: #F3525A;
    font-size: 30px;
    margin-left: 80px;



}
.h1-nav{
    color: #F3525A;
    font-size: 30px;
    margin-left: 10px;


}

.nav2-sec2{
    display: flex;
    justify-content: space-around;
    width: 40rem; 
    height: 20px;
}
.nav4-sec{
    display: flex;
}
.nav4-sec a{
    color: black;
    font-size: 12px;
}
.nav4-sec{
    display: none;
}
/* nav-s3end here */

@media screen and (min-width:768px) {
    /* nav sec start here */
    #nav-li{
        width: 393px;
    }
    /* nav sec end here */
    /* nav-s3 start here  */
    .fa-bars{
        color: black;
        font-size: 30px;
    }
    .fa-face-smile{
        margin-left: 250px;
    
    }
    /* nav-s3 end here */